.course-content ul.ucicactivity {margin:0;}
.course-content ul.ucicactivity li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.ucicactivity li.section .content {margin:0 40px;}
.course-content ul.ucicactivity li.section .left,
.course-content ul.ucicactivity li.section .right {width:40px;padding: 0 6px;}
.course-content ul.ucicactivity li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.ucicactivity li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content ul.ucicactivity li.section .left,
.jsenabled .course-content ul.ucicactivity li.section .right {width:auto;}
.course-content ul.ucicactivity li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content ul.ucicactivity li.section .section_action_menu .textmenu,
.course-content ul.ucicactivity li.section .section_action_menu .menu-action-text { white-space: nowrap; }

/*********************************
*** AKIRA
*********************************/

.ucicactivity{
	position: relative;
}

.ucicactivity:before{
	border-left: 1px dotted #AAA;
	content: '';
	left: 0px;
	top: 35px;
	bottom: 15px;
	width: 1px;
	position: absolute;
}

.course-content .progress{
	margin-top: 1rem;
}

.course-content .legend ul{
	float: right;
	padding: 0;
	margin: 0;
}

.course-content .legend ul li{
	list-style: none;
	padding-left:2rem;
	font-size: 1rem;
	line-height: 2rem;
	display: inline-block;
}

.course-content .legend ul li span{
	display: inline-block;
	vertical-align: middle;
	line-height: 2rem;
}

.course-content .legend ul li .color{
	border-radius: 50%;
	
	width: 11px;
	height: 11px;
}

.course-content .legend ul li.finished{
	color: #084a8b;
}

.course-content .legend ul li.finished .color{
	background: #084a8b;
}

.course-content .legend ul li.in-progress{
	color: #5bc6d5;
}

.course-content .legend ul li.in-progress .color{
	background: #5bc6d5;
}

.course-content .legend ul li.not-entered{
	color: #AAA;
}

.course-content .legend ul li.not-entered .color{
	background: #AAA;
}

.course-content ul.ucicactivity li.section.main{
	border: 0;
}

.course-content ul.ucicactivity li.section{
	position: relative;
}

.course-content ul.ucicactivity li.section-blocked h3 span{
	color: #737373 !important;
}

.course-content ul.ucicactivity li.section-progress h3 span{
	color: #5bc6d5 !important;
}

.course-content ul.ucicactivity li.section-finished h3 span{
	color: #084a8b !important;
}

.course-content ul.ucicactivity li.section-blocked h3.sectionname:before{
	background: #737373 !important;
}

.course-content ul.ucicactivity li.section-progress h3.sectionname:before{
	background: #5bc6d5 !important;
}

.course-content ul.ucicactivity li.section-finished h3.sectionname:before{
	background: #084a8b !important;
}

.course-content ul.ucicactivity li.section .content{
	margin: 0;
}

.course-content ul.ucicactivity li.section h3.sectionname{
	position: relative;
	margin-bottom: 0;
}

.course-content ul.ucicactivity li.section h3.sectionname span{ 
	/*color: #034b8b;*/
	color: #AAA;
	font-weight: normal;
}

.course-content ul.ucicactivity li.section h3.sectionname:before{
	position: absolute;
	content: '';
	border-radius: 50%;
	top: 0;
	bottom: 0;
	margin: auto;
	/*background: #034b8b;*/
	background: #AAA;
	width: 11px;
	height: 11px;
	left: -5px;
	z-index: 10;
}

.course-content ul.ucicactivity li.section .summary,
.course-content ul.ucicactivity li.section .section{
	/*border-left: 1px solid #AAA;*/
	padding-left: 40px;
}

.course-content ul.ucicactivity li.section .summary{
	margin-top: 1rem;
}

.course-content ul.ucicactivity li.section.current{
	background: transparent;
}

.course-content ul.ucicactivity li.section.current h3.sectionname span{
	color: #5bc6d5;
}

.course-content ul.ucicactivity li.section.current h3.sectionname:before{
	background: #5bc6d5;
}

.jsenabled .course-content ul.ucicactivity li.section ul.section li.activity.activity-finished .activityinstancess span{
	color: #084a8b;	
}

.jsenabled .course-content ul.ucicactivity li.section ul.section li.activity.activity-progress .activityinstancess span{
	color: #5bc7d6;	
}

.activityinstancess img{
	    width: auto !important;
    display: inline-block !important;
}